
/*-------------- background ---------------*/
html{
}
body{
	background:url("../images/blackboard-bg.png");
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}