
/*-------------- background ---------------*/
html{
}
body{
	background:url("../images/blackboard-bg.png");
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.inner{
	background:url("../images/stitch.png") repeat-y 90px 90px;
	position:relative;
	&:before, &:after{
		position:absolute;
		display:block;
		content:" ";
		z-index:200;
	}
	&:before{
		background:url("../images/decor1.png") no-repeat;
		height:274px;
		width:83px;
		top:1000px;
		right:-58px;
	}
	&:after{
		background:url("../images/decor2.png") no-repeat;
		width:78px;
		height:209px;
		top:300px;
		right:-49px;
	}
}