$brown: #574742;
$brown2:#7a6964;
$beige: #beaea5;
$lightbeige: #f7efed;
$red: #eb5f3a;
$red2: #e1947e;
$grey: #6a6766;
$lightgrey: #e1e1e0;
$lightyellow: #fef9c7;
$darkyellow: #8d7825;
$green: #bae861;