$brown: #574742;
$brown2:#7a6964;
$beige: #beaea5;
$lightbeige: #f7efed;
$red: #eb5f3a;
$red2: #e1947e;
$grey: #6a6766;
$lightgrey: #e1e1e0;
$lightyellow: #fef9c7;
$darkyellow: #8d7825;
$green: #bae861;


$green1:#86d259; // main green color
$green2:#c4efab; // lighter green, not used?
$green3:#bde5a6; // archived status color
$darkgrey1:#485056;
$darkgrey2:#7a8d99;
$lightgrey1:#dee5e9; // not actually used, it seems
$lightgrey2:#eaf2f6; // testimonials bg, home tagline bg, various UI elements bg
$lightgrey3:#f6f7f9; // not actually used either?
$lightgrey4:#c6d2d8; // color for pending status
$lightgrey5:#a4b5c0; // used in guides
$lightgrey6:#C3CFD6; // used for dates
$blue1:#4e9ec4; // main blue (links, etc.)
$blue2:#c9e5f2; // notices border
$blue3:#2e6e8c; //
$red1:#c62910;
$yellow1:#efc10a;


$link: $blue1;
$link-hover: $blue1;
$text:$darkgrey1;
$light-text:$darkgrey2;
$lighter-text:$lightgrey5;
$lightest-text:$lightgrey6;
$light-border:$lightgrey1;
$dark-border:$lightgrey6;