// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;

// If you change your grid column dimensions
// you can make a new grid background image from the command line like this:
// compass grid-img 30+10x16

body{
	padding-top:$unit;
}
.container{
	width:1150px;
}
/*-------------- navigation ---------------*/
header{
	width:200px;
	margin-bottom:40px;
	float:right;
	#navigation{
		display:none;
		margin-bottom:50px;
		font-size:16px;
		#skip{
			display:none;
		}
		#selectmenu-primary{
			display:none;
		}
		ul{
			height:91px;
			overflow:hidden;
			margin:0;
			padding:0;
			li{
				width:90px;
				float:left;
				display:block;
				margin-bottom:5px;
				&:nth-child(odd){
					margin-right:$unit;
				}
				&:nth-child(5),&:nth-child(6){
					margin-bottom:0;
				}
				a{
					&:visited{
						color:$red;
					}
					&:hover{
						color:$brown !important;
					}
				}
				&.current-menu-item a{
					cursor:text;
					color:$brown;
					&:visited{
						color:$brown;
					}
				}
			}
		}
	}
}
#content{
	background:url("../images/content-bg-middle.png") repeat-y;
	width:920px;
	padding:10px 120px 10px 200px;
	float:left;
	position:relative;
	&:before, &:after{
		content:"";
		width:920px;
		height:30px;
		position:absolute;
		left:0px;
	}
	&:before{
		background:url("../images/content-bg-top.png") no-repeat;
		top:-30px;
	}
	&:after{
		background:url("../images/content-bg-bottom.png") no-repeat;
		bottom:-30px;
	}
}
#sidebar{
	width:200px;
	float:right;
}
#footer{
	width:100%;
	float:left;
}