/*-------------- logo ---------------*/
header{
	text-shadow:0px 1px 2px black(0.5);
	color:white(0.8);
	#logo{
		a{
			background:url("../images/folyo-blog-logo.png") no-repeat;
			height:125px;
			width:200px;
			@include hide-text;
			margin-bottom:15px;
			display:block;
		}
	}
	p{
		color:white(0.75);
		font-size:16px;	
		padding:15px 0;
		border-top:2px solid white(0.1);
		border-bottom:2px solid white(0.1);
		text-align:center;
	}
}
/*-------------- post ---------------*/
.post{
	position:relative;
}

.entry-category{
	display:inline-block;
	border-right:1px #ccc solid;
	padding-right:10px;
	margin-right:10px;
}
.entry-image, .wp-caption{
	padding:15px;
	background:white;
	margin-bottom:30px;
	@include box-shadow(0 1px 3px black(0.35));
	position:relative;
	img{
		display:block;
		width:570px;
		height:auto;
	}
	.wp-caption-text{
		text-align:center;
		margin:0;
		padding-top:20px;
	}
	.credit{
		font-size:12px;
		margin-top:5px;
		color:$beige;
	}
	&:before,&:after{
		position:absolute;
		content:"";
		height:110px;
		width:110px;
		z-index:10;
	}
	&:before{
		background:url("../images/tape1.png");
		top:-25px;
		right:-31px;
	}
	&:after{
		background:url("../images/tape2.png");
		bottom:-25px;
		left:-31px;
	}
}
.entry-date{
	&, & a, &:visited{
		color:$lighter-text;
	}
	margin-bottom:10px;
	position:absolute;
	left:-75px;
	top:10px;
	font-variant:small-caps;
	display:block;
	font-weight:normal;
	text-align:center;
	line-height:1;
	.month{
		display:block;
		font-size:14px;
		font-weight:normal;
		text-transform:uppercase;
	}
	.day{
		display:block;
		font-size:28px;
		font-weight:bold;
	}
	.full-date{
		display:block;
		background:$darkgrey1;
		color:white;
		opacity:0;
		@include transition-property("opacity, margin-top");
		@include transition-duration(300ms);
		@include transition-timing-function(ease-in);
		@include border-radius(10px);
		@include box-shadow(0px 1px 3px black(0.25));
		text-shadow:0px 1px 2px black(1);
		width:100px;
		margin-left:-50px;
		left:50%;
		padding:10px;
		font-size:14px;
		font-weight:normal;
		position:relative;
		line-height:1.3;
		margin-top:0px;
	}
	.full-date:before{
		position:absolute;
		top:-5px;
		left:40px;
		content:" ";
		display:block;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $darkgrey1;
	}
	&:hover{
		text-decoration:none;
		color:$link;
		.full-date{
			margin-top:10px;
			opacity:1;
			@include transition-property("opacity, margin-top");
		}
	}
}

.entry-follow{
	margin-bottom:30px;
	padding:10px;
	background:$lightgrey1;
	h4{
		font-size:14px;
		line-height:1;
	}
	.follow-twitter{
		display:inline-block;
		margin:-1px 5px 0 5px;
		vertical-align:top;
	}
}
.entry-meta{
	line-height:24px;
	padding:8px 0 12px 0;
	border-top:1px $light-border solid;
	border-bottom:1px $light-border solid;
	.left{
		float: left;
	}
	a, span{
		display:inline-block;
	}
	a{
		color:$light-text;
		font-weight:bold;
	}
}
.entry-social{
	float:right;
	position:relative;
	top:4px;
	line-height:1;
	height:24px;
	&>div{
		display:inline-block;
	}
	.facebook{
		position:relative;
		top:-6px;
	}
}
.featured-image{
	position:relative;
	top:-15px;
	margin-bottom:50px;
	.post-content{
		position:relative;
	}
	&:before,&:after{
		display:block;
		position:absolute;
		content:" ";
		background:#eee;
		background-image:none !important;
		width:570px;
		height:320px;
		border:15px #fefefe solid;
	}
	&:before{
		@include rotate(2deg, false, false);
		z-index:10;
		top:-5px;
		left:0px;
		@include box-shadow(0 2px 5px black(0.35));
	}
	&:after{
		@include rotate(-4deg, false, false);
		z-index:20;
		top:-4px;
		left:-4px;
		width:580px;
		@include box-shadow(0 2px 4px black(0.25));
	}
	.entry-image{
		@include rotate(-2deg, false, false);
		z-index:50;
		position:relative;
		@include box-shadow(0 1px 3px black(0.35));
		&:before{
			display:none;
		}
		&:after{
			background:url("../images/paperclip.png");
			@include rotate(16deg, false, false);
			height:110px;
			width:30px;
			top:-25px;
			left:430px;
			z-index:10;
		}
	}
	.post-title{
		@include rotate(-3deg, false, false);
		background:white;
		padding:340px 15px 15px 15px;
		@include box-shadow(0 1px 3px black(0.35));
		position:absolute;
		z-index:30;
		width:580px;
		left:10px;
		top:0px;
		.entry-title{
			margin:0;
			font-size:18px;
			line-height:1.3;
			text-align:center;
			font-family:"ff-market-web";
		}
	}
	.post-content{
		display:none;
	}
}
/*-------------- share ---------------*/
.entry-share{
	display:none;
	padding:15px 30px;
	overflow:hidden;
	h3, h4{
		float:left;
		margin:0 30px 0 0;
		line-height:30px;
	}
	.share-option{
		float:left;
		margin-right:30px;
		.box{
			overflow:hidden;
			 .share{
				height:30px;
				width:30px;
				@include hide-text;
				float:left;
				margin-right:5px;
			}
			.count{
				float:right;
				width:60px;
				line-height:30px;
				height:30px;
				padding:0 10px 0 0;
				background:$lightbeige url("../images/pictos.png") no-repeat 0 -330px;
				@include border-radius(3px);
				text-align:right;
				font-size:16px;
			}
			&:hover .count{
				background-position:0 -330px;
				color:$brown;
			}
		}
	}
	#twitter{ 
		.share{
			background:url("../images/pictos.png") no-repeat 0 -120px;
		}
		&:hover .share{
			background-position:0 -150px;
		}
	}
	#facebook{
		.share{
			background:url("../images/pictos.png") no-repeat 0 -180px;
		
		}
		&:hover .share{
			background-position:0 -210px;
		}
	}
	#googleplus{
		.share{
			background:url("../images/pictos.png") no-repeat 0 -240px;
		}
		&:hover .share{
			background-position:0 -270px;
		}
	}
}

/*-------------- title ---------------*/
.entry-title{
	line-height:1;
	margin-bottom:10px;
	font-size:36px;
	margin-bottom:44px;
	a{
		color:$text;
		&:visited{
			color:$text;
		}
		&:hover{
			color:$link;
			text-decoration:none;
		}
	}
}
/*-------------- note ---------------*/
.entry-content h5, .note{
	background:$lightyellow;
	color:$darkyellow;
	font-weight:normal;
	padding:30px 30px 30px 60px;
	font-size:16px;
	line-height:1.7;
	position:relative;
	&:after{
		content:"Note";
		display:block;
		position:absolute;
		top:0;
		left:0;
		padding:2px 6px;
		text-transform:uppercase;
		font-weight:bold;
		background:#f9ec6e;
		font-size:12px;
	}
}
/*-------------- post ---------------*/
.navigation{
	overflow:hidden;
	border-top:1px solid $lightgrey1;
	.nav-previous{
		float:left;
		a:before{
			content:"← ";
		}
	}
	.nav-next{
		float:right;
		a:after{
			content:" →";
		}
	}
}
article.post, article.page{
	.read-more{
		text-decoration:underline;
		display:inline-block;
		margin-left:3px;
	}
}
#rss-link{
	@include hide-text;
	display:inline-block;
	height:12px;
	width:12px;
	background:url("../images/pictos.png") left -432px;
	margin:0 0 0 5px;
	cursor:pointer;
	&:hover, .current-menu-item &{
		background-position:left -420px;
	}
}
.social{
/*	h3{
		float:left;
		font-size:16px;
		line-height:30px;
		margin-right:12px;
	}*/
	ul{
		float:left;
		@include nav-ul;
		padding:0;
		margin:0;
		li{
			height:30px;
			width:30px;
			@include border-radius(30px);
			background:$red;
			margin-right:12px;
			&.find-me{
				width:auto;
				background:none;
				font-weight:bold;
				font-size:16px;
			}
			&:last-child{
				margin-right:0;
			}
			&:hover{
				background:$brown;
			}
			a{
				@include hide-text;
				height:30px;
			}
			&.twitter a{
				background:url("../images/pictos.png") no-repeat 0 -30px;
			}
			&.dribbble a{
				background:url("../images/pictos.png") no-repeat 0 -60px;
			}
			&.quora a{
				background:url("../images/pictos.png") no-repeat 0 -90px;
			}
			&.zerply a{
				background:url("../images/pictos.png") no-repeat 0 -120px;
			}
			&.blank{
				background:url("../images/pictos.png") no-repeat left top;
			}
		}
	}
}
#sidebar{
	text-shadow:0px 1px 2px black(0.5);
	h3{
		text-transform:uppercase;
		color:white;
		font-size:18px;
		margin-bottom:15px;
	}
	.widgets{
		margin:0;
		padding:0;
		list-style-type:none;
		>li{
			margin-bottom:60px;
			line-height:1.5;
			font-size:16px;
		}
		.widget_recent_entries ul{
			margin:0;
			padding:0;
			list-style-type:none;
			li{
				margin-bottom:15px;
			}
		}
		
	}
}
#footer{
	@include letterpress(0.5);
	font-size:14px;
	margin:$unit 0;
}
/*-------------- form ---------------*/
form{
	background:$lightbeige;
	width:600px;
	padding:30px 60px 30px 30px;
	.form-item{
		position:relative;
		margin-bottom:30px;
		&:before{
			@include stripes;
			content:" ";
			height:24px;
			width:360px;
			display:block;
			position:absolute;
			z-index:0;
			top:0;
		}
	}
	.wpcf7-text, textarea{
		@include border-radius(3px);
		border:none;
		@include box-emboss(0.8,0.35);
		@include box-shadow(0 1px 0 0 white, inset 0 1px 2px 0 black(0.15),inset 0 0 0px 1px #e2d0cc);
		position:relative;
	}
	.wpcf7-form-control-wrap{
		position:relative;
	}
	label{
		margin-bottom:10px;
		margin-top:1px;
		font-weight:bold;
		color:$beige;
		text-transform:uppercase;
		background:$lightbeige;
		display:inline-block;
		position:absolute;
		line-height:22px;
		z-index:10;
		padding:0 3px;
		margin-left:1px;
	}
	.wpcf7-text{
		height:24px;
		line-height:24px;
		display:block;
		width:340px;
		padding:8px 10px;
	}
	textarea{
		padding:10px;
		width:340px;
		height:150px;
	}
	input:focus, textarea:focus{
		outline:none;
		@include box-shadow(0 1px 0 0 white, inset 0 1px 2px 0 black(0.15),inset 0 0 0px 3px #e2d0cc);
	}
	span.wpcf7-not-valid-tip{
		position:absolute;
		top:-36px;
		background:none;
		border:none;
		color:$red;
		font-weight:bold;
		left:370px;
		font-size:16px;
	}
	.wpcf7-submit{
		color:white;
		background:$red;
		@include border-radius(30px);
		height:40px;
		padding:0 20px;
		line-height:40px;
		border:none;
		font-weight:bold;
	}
	div.wpcf7-response-output{
		margin:0;
		padding:15px;
		border:0;
		background:$lightgrey;
	}
	div.wpcf7-validation-errors{
		background:$red;
		color:white;
	}
	div.wpcf7-mail-sent-ok{
		background:$green;
	}
/*	.form-text span{
		position:relative;
		&:after,&:before{
			content:" ";
			position:absolute;
			@include border-radius(3px 0 0 3px);
			display:block;
		}
		&:after{
			@include stripes;
			top:-39px;
			left:1px;
			z-index:5;
			height:38px;
			width:40px;
		}
		&:before{
			background:url("../images/pictos.png") no-repeat 0px -360px;
			z-index:10;
			top:6px;
			left:6px;
			height:30px;
			width:30px;
		}
		&.your-email:before{
			background-position:0 -390px;
		}
		input{
			padding:0 10px 0 50px;
			width:300px;	
		}
	}*/
}
/*-------------- comments ---------------*/
#disqus_thread{
	margin:60px 0 !important;
	#dsq-global-toolbar{
		display:none;
	}
	#dsq-comments, .dsq-comments{
		list-style-type:none;
		border-top:1px solid $lightgrey !important;
		margin:30px 0 0 0 !important;
		padding:30px 0 0 0 !important;
	}
	.dsq-comment-child{
		margin-left:90px !important;
	}
	.dsq-comment, .dsq-comment:hover{
		border-bottom:1px solid $lightgrey;
		padding:0 $unit 30px 0 !important;
		margin-bottom:30px !important;
		.dsq-avatar{
			display:block;
/*			img{
				-webkit-border-radius: 60px !important;
				-moz-border-radius: 60px !important;
				border-radius: 60px !important;
				-webkit-box-shadow:none !important;
				-moz-box-shadow:none !important;
				box-shadow:none !important;
				margin:0 !important;
				padding:0 !important;
				height:60px !important;
				width:60px !important;
				border:none !important;
				background:none !important;
				@include transition-property(height);
				@include transition-property(width);
			}*/
			img{
				@include border-radius(60px);
				height:60px;
				width:60px;
			}
		}
		.dsq-comment-message{
			line-height:1.5 !important;
			font-size:16px !important;
		}
		.dsq-comment-body{
			padding-left:90px !important;
		}
	}
	.dsq-comment-is-collapsed,.dsq-comment-is-collapsed:hover{ 
		.dsq-avatar img{
			height:40px !important;
			width:40px !important;
		}
	}
	.dsq-comment-cite, .dsq-commenter-name{
		font-size:24px !important;
	}
	.dsq-comment-header{
		background:none;
		padding:0;
		border:none;
		line-height:1.2;
	}
	.dsq-depth-1{
		margin-left:90px !important;
	}
	#dsq-sort-by, .dsq-reply, #dsq-global-toolbar, #dsq-pagination{
		padding-right:$unit;
	}
	.dsq-trackbacks{
		margin-top:30px !important;
		border-top:1px solid $lightgrey;
		padding-top:30px !important;
		li{
			border-bottom:1px solid $lightgrey;
			padding:0 $unit 30px 0 !important;
			margin-bottom:30px !important;
			cite a{	
				font-style:normal;
			}
			.dsq-trackback-date{
				color:$beige;
				font-size:14px;
			}
		}
	}
}