/*-------------- page ---------------*/
body.page{
	.page{
		padding-right:90px;
	}
	.entry-content{
		margin-bottom:120px;
	}
}

/*-------------- single ---------------*/
.single{ 
	.post{
		.entry-meta{
			margin-bottom:20px;
		}	
		.entry-image{
			margin-bottom:60px;
		}
		.entry-title{
			font-size:36px;
			line-height:1.3;
			margin-bottom:20px;
		}
		.entry-utility{
			display:none;
		}
	}
}