/*-------------- page ---------------*/
body.page{
	.page{
		padding-right:90px;
	}
	.entry-content{
		margin-bottom:120px;
	}
}
/*-------------- river ---------------*/
.posts-river{
	padding-top:10px;
	.post{
		padding-bottom:60px;
		background:url("../images/separator4.png") no-repeat bottom center;
		margin-bottom:50px;
		position:relative;
		&:nth-of-type(3n+1){
			background-image:url("../images/separator4.png");
		}
		&:nth-of-type(3n+2){
			background-image:url("../images/separator5.png");	
		}
		&:nth-of-type(3n+3){
			background-image:url("../images/separator6.png");	
		}
		.entry-image{
			// float:right;
			// width:200px;
			// padding:10px;
			// img{
			// 	width:180px;
			// 	height:auto;
			// }
			// &:before{
			// 	top:-25px;
			// 	right:-31px;
			// }
			// &:after{
			// 	bottom:-25px;
			// 	left:-31px;
			// }
		}
		.entry-title{
			font-size:30px;
			line-height:1.3;
			margin-bottom:10px;
		}
		&:last-child{
			border:none;
			margin-bottom:0;
			background:none;
		}
		.entry-meta{
			margin-bottom:20px;
		}
		// &.has-thumbnail .entry-summary{
		// 	width:370px;
		// }
	}

}
/*-------------- single ---------------*/
.single{ 
	.post{
		.entry-meta{
			margin-bottom:20px;
		}	
		.entry-image{
			margin-bottom:60px;
		}
		.entry-title{
			font-size:30px;
			line-height:1.3;
			margin-bottom:20px;
		}
		.entry-utility{
			display:none;
		}
	}
}