body, input, textarea, p{
	font-family:ff-tisa-web-pro, chaparral-pro, skolar;
	color:$text;
	font-size:18px;
	line-height:1.7;
}
h1, h2, h3, h4, h5{
	// font-family:"Proxima Nova";
	line-height:1.2;
}
h1{
	font-size:60px;
}
h2{
	font-size:48px;
	font-weight:600;
}
h3{
	font-size:30px;
}
h4{
	font-size:18px;	
}
h5{
	
}
.entry-content{
	h1, h2, h3, h4, h5, ul, ol, p, hr, blockquote{
		margin:0 0 30px 0;
	}
	hr{
		border:none;
		background:$lightgrey;
		height:1px;
		width:690px;
		margin:60px 0;
	}
	blockquote{
		background:$lightgrey;
		padding:30px 30px 0 30px;
		display:block;
		overflow:hidden;
		font-style:italic;
	}
	ul{
		padding-left:60px;
		color:$red;
		list-style-type:none;
		li{
			color:$brown;
			position:relative;
			margin-bottom:10px;
		}
		li:before{
			content:"•";
			color:$red;
			position:absolute;
			left:-20px;
			display:block;
			font-size:30px;
			height:20px;
			width:10px;
			line-height:22px;
		}
	}
}
/*-------------- links ---------------*/
a{
	color:$link;
	font-weight:bold;
	text-decoration:none;
}
a:visited{
	color:$link;
}
a:hover{
	color:$link-hover;
	text-decoration:underline;
}
#sidebar, header{
	a:hover{
		color:white;
		text-decoration:none;
	}
}
.navigation, .entry-meta{
	font-variant:small-caps;
	color:$lighter-text;
	a{
		color:$lighter-text;
		font-weight:normal;
		&:hover{
			color:$link;
		}
	}
}

.wp-caption-text{
	font-family:"ff-market-web";
	font-size:20px;
	color:$light-text;
}