/** START HTML5 Boilerplate CSS **/
/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
/* line 30, ../sass/partials/_boilerplate.scss */
html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 38, ../sass/partials/_boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../sass/partials/_boilerplate.scss */
blockquote, q {
  quotes: none;
}

/* line 45, ../sass/partials/_boilerplate.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 47, ../sass/partials/_boilerplate.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 49, ../sass/partials/_boilerplate.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 51, ../sass/partials/_boilerplate.scss */
del {
  text-decoration: line-through;
}

/* line 53, ../sass/partials/_boilerplate.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 55, ../sass/partials/_boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 57, ../sass/partials/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
/* line 64, ../sass/partials/_boilerplate.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* Hack retained to preserve specificity */
/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 68, ../sass/partials/_boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/**
 * Minimal base styles.
 */
/* 1) Always force a scrollbar in non-IE
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
/* line 77, ../sass/partials/_boilerplate.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* j.mp/webkit-tap-highlight-color */
/* line 80, ../sass/partials/_boilerplate.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 83, ../sass/partials/_boilerplate.scss */
a:hover, a:active {
  outline: none;
}

/* line 85, ../sass/partials/_boilerplate.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 86, ../sass/partials/_boilerplate.scss */
a:hover {
  color: #036;
}

/* line 88, ../sass/partials/_boilerplate.scss */
ul, ol {
  margin-left: 2em;
}

/* line 89, ../sass/partials/_boilerplate.scss */
ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
/* line 92, ../sass/partials/_boilerplate.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 94, ../sass/partials/_boilerplate.scss */
small {
  font-size: 85%;
}

/* line 95, ../sass/partials/_boilerplate.scss */
b, strong, th {
  font-weight: bold;
}

/* line 97, ../sass/partials/_boilerplate.scss */
td {
  vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 100, ../sass/partials/_boilerplate.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 101, ../sass/partials/_boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 102, ../sass/partials/_boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* line 104, ../sass/partials/_boilerplate.scss */
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 110, ../sass/partials/_boilerplate.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements.
      Firefox adds a 1px margin above and below textareas
   3) Set font-size to match <body>'s, and font-family to sans-serif
   4) Align to baseline */
/* line 117, ../sass/partials/_boilerplate.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
/* line 121, ../sass/partials/_boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* Hand cursor on clickable input elements */
/* line 124, ../sass/partials/_boilerplate.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Remove extra padding and inner border in Firefox */
/* line 128, ../sass/partials/_boilerplate.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Colors for form validity */
/* line 132, ../sass/partials/_boilerplate.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 133, ../sass/partials/_boilerplate.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 137, ../sass/partials/_boilerplate.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/**
 * You might tweak these..
 */
/* line 144, ../sass/partials/_boilerplate.scss */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
/* line 152, ../sass/partials/_boilerplate.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* line 157, ../sass/partials/_boilerplate.scss */
::-moz-selection {
  background: #eb5f3a;
  color: #fff;
  text-shadow: none;
}

/* line 158, ../sass/partials/_boilerplate.scss */
::selection {
  background: #eb5f3a;
  color: #fff;
  text-shadow: none;
}

/**
 * Primary styles
 *
 * Author:
 */
/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
/* line 186, ../sass/partials/_boilerplate.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 187, ../sass/partials/_boilerplate.scss */
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 191, ../sass/partials/_boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 195, ../sass/partials/_boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 198, ../sass/partials/_boilerplate.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 201, ../sass/partials/_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
/* line 205, ../sass/partials/_boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 206, ../sass/partials/_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 207, ../sass/partials/_boilerplate.scss */
.clearfix {
  zoom: 1;
}

/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 * The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
 */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
/*/mediaquery*/
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/*/mediaquery*/
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  /* line 235, ../sass/partials/_boilerplate.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 237, ../sass/partials/_boilerplate.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 238, ../sass/partials/_boilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 239, ../sass/partials/_boilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 240, ../sass/partials/_boilerplate.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 241, ../sass/partials/_boilerplate.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 242, ../sass/partials/_boilerplate.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 243, ../sass/partials/_boilerplate.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 244, ../sass/partials/_boilerplate.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 246, ../sass/partials/_boilerplate.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 247, ../sass/partials/_boilerplate.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/** END HTML5 Boilerplate CSS **/
/** START Starkers CSS **/
/* LAYOUT */
/* ----------------------------------------- */
/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
/* line 259, ../sass/partials/_boilerplate.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 260, ../sass/partials/_boilerplate.scss */
.alignleft {
  float: left;
}

/* line 261, ../sass/partials/_boilerplate.scss */
.alignright {
  float: right;
}

/* You might find the following useful */
                                                                      /* div, ul, li { position:relative } This will save you having to declare each div / ul / li's position as 'relative' and allows you to absolutely position elements inside them
br.clear { clear:both; display:block; height:1px; margin:-1px 0 0 0 } /* Use this br class to clear your floated columns */
/* line 266, ../sass/partials/_boilerplate.scss */
li#theme-switcher {
  background: #fff;
  border: 10px solid red;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
}

/* Use this if you have the Theme Switcher Reloaded plugin (http://themebot.com/webmaster-tools/1-wordpress-theme-switcher-reloaded) installed and want to make it nice and obvious */
/* TYPOGRAPHY */
/* ----------------------------------------- */
/* line 271, ../sass/partials/_boilerplate.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* This helps to identify headings at the initial build stage, so I thought it'd be useful to have it */
/* line 272, ../sass/partials/_boilerplate.scss */
.alert {
  background: red;
  color: white;
}

/* 'alert' has a basic style, since it's useful to have it standing out for testing purposes.



/* Font stack options

	The following represents a list of font stacks, as recommended by Nathan Ford in
	http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/

	I've added inverted commas around the relevant family names to ensure compatibility.
	p = balanced for paragraphs or body copy
	t = balanced for headlines or titles

	- - - -

Arial, "Helvetica Neue", Helvetica, sans-serif - p, t

Baskerville, "Times New Roman", Times, serif - p
Baskerville, "Times, Times New Roman", serif - t

Cambria, Georgia, Times, "Times New Roman", serif - p, t
"Century Gothic", "Apple Gothic", sans-serif - p, t

Consolas, "Lucida Console", Monaco, monospace - p, t

"Copperplate Light", "Copperplate Gothic Light", serif - p, t

"Courier New", Courier, monospace - p, t

"Franklin Gothic Medium", "Arial Narrow Bold", Arial, sans-serif - p, t

Futura, "Century Gothic", "Apple Gothic", sans-serif - p, t

Garamond, "Hoefler Text", "Times New Roman", Times, serif - p
Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif - t

Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif - p
Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - t

Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif - p
Georgia, Times, "Times New Roman", serif - t

GillSans, Calibri, Trebuchet, sans-serif - p
GillSans, Trebuchet, Calibri, sans-serif - t

"Helvetica Neue", Arial, Helvetica, sans-serif - p
Helvetica, "Helvetica Neue", Arial, sans-serif - t

Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif - p, t

"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - p, t

Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif - p
Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif - t

Tahoma, Geneva, Verdana - p
Tahoma, Verdana, Geneva - t

Times, "Times New Roman", Georgia, serif - p, t

Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif - p
Trebuchet, Tahoma, Arial, sans-serif - t

Verdana, Geneva, Tahoma, sans-serif - p
Verdana, Tahoma, Geneva, sans-serif - t

*/
/** END Starkers CSS **/
/** START WordPress-Defined CSS Classes **/
/** END WordPress-Defined CSS Classes **/
/* line 12, ../sass/partials/_layout.scss */
body {
  padding-top: 60px;
}

/* line 15, ../sass/partials/_layout.scss */
.container {
  width: 1150px;
}

/*-------------- navigation ---------------*/
/* line 19, ../sass/partials/_layout.scss */
header {
  width: 200px;
}
/* line 21, ../sass/partials/_layout.scss */
header #navigation {
  float: right;
  margin-bottom: 50px;
  font-size: 16px;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}
/* line 26, ../sass/partials/_layout.scss */
header #navigation #skip {
  display: none;
}
/* line 29, ../sass/partials/_layout.scss */
header #navigation #selectmenu-primary {
  display: none;
}
/* line 32, ../sass/partials/_layout.scss */
header #navigation ul {
  height: 91px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 37, ../sass/partials/_layout.scss */
header #navigation ul li {
  width: 90px;
  float: left;
  display: block;
  margin-bottom: 5px;
}
/* line 42, ../sass/partials/_layout.scss */
header #navigation ul li:nth-child(odd) {
  margin-right: 60px;
}
/* line 45, ../sass/partials/_layout.scss */
header #navigation ul li:nth-child(5), header #navigation ul li:nth-child(6) {
  margin-bottom: 0;
}
/* line 49, ../sass/partials/_layout.scss */
header #navigation ul li a:visited {
  color: #eb5f3a;
}
/* line 52, ../sass/partials/_layout.scss */
header #navigation ul li a:hover {
  color: #574742 !important;
}
/* line 56, ../sass/partials/_layout.scss */
header #navigation ul li.current-menu-item a {
  cursor: text;
  color: #574742;
}
/* line 59, ../sass/partials/_layout.scss */
header #navigation ul li.current-menu-item a:visited {
  color: #574742;
}

/* line 67, ../sass/partials/_layout.scss */
#content {
  background: url("../images/content-bg-middle.png") repeat-y;
  width: 920px;
  padding: 0 120px 0 200px;
  float: left;
  position: relative;
}
/* line 73, ../sass/partials/_layout.scss */
#content:before, #content:after {
  content: "";
  width: 920px;
  height: 30px;
  position: absolute;
  left: 0px;
}
/* line 80, ../sass/partials/_layout.scss */
#content:before {
  background: url("../images/content-bg-top.png") no-repeat;
  top: -30px;
}
/* line 84, ../sass/partials/_layout.scss */
#content:after {
  background: url("../images/content-bg-bottom.png") no-repeat;
  bottom: -30px;
}

/* line 89, ../sass/partials/_layout.scss */
#sidebar {
  width: 240px;
  float: left;
  padding-top: 60px;
}

/* line 94, ../sass/partials/_layout.scss */
#footer {
  width: 100%;
  float: left;
}

/*-------------- background ---------------*/
/* line 5, ../sass/partials/_base.scss */
body {
  background: url("../images/blackboard-bg.png");
}

/* line 8, ../sass/partials/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/partials/_typography.scss */
body, input, textarea, p {
  font-family: "Skolar";
  color: #485056;
  font-size: 18px;
  line-height: 1.7;
}

/* line 7, ../sass/partials/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Proxima Nova";
  line-height: 1.2;
}

/* line 11, ../sass/partials/_typography.scss */
h1 {
  font-size: 60px;
}

/* line 14, ../sass/partials/_typography.scss */
h2 {
  font-size: 48px;
  font-weight: 600;
}

/* line 18, ../sass/partials/_typography.scss */
h3 {
  font-size: 30px;
}

/* line 21, ../sass/partials/_typography.scss */
h4 {
  font-size: 18px;
}

/* line 28, ../sass/partials/_typography.scss */
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content ul, .entry-content ol, .entry-content p, .entry-content hr, .entry-content blockquote {
  margin: 0 0 30px 0;
}
/* line 31, ../sass/partials/_typography.scss */
.entry-content hr {
  border: none;
  background: #e1e1e0;
  height: 1px;
  width: 690px;
  margin: 60px 0;
}
/* line 38, ../sass/partials/_typography.scss */
.entry-content blockquote {
  background: #e1e1e0;
  padding: 30px 30px 0 30px;
  display: block;
  overflow: hidden;
  font-style: italic;
}
/* line 45, ../sass/partials/_typography.scss */
.entry-content ul {
  padding-left: 60px;
  color: #eb5f3a;
  list-style-type: none;
}
/* line 49, ../sass/partials/_typography.scss */
.entry-content ul li {
  color: #574742;
  position: relative;
  margin-bottom: 10px;
}
/* line 54, ../sass/partials/_typography.scss */
.entry-content ul li:before {
  content: "•";
  color: #eb5f3a;
  position: absolute;
  left: -20px;
  display: block;
  font-size: 30px;
  height: 20px;
  width: 10px;
  line-height: 22px;
}

/*-------------- links ---------------*/
/* line 68, ../sass/partials/_typography.scss */
a {
  color: #4e9ec4;
  font-weight: bold;
  text-decoration: none;
}

/* line 73, ../sass/partials/_typography.scss */
a:visited {
  color: #4e9ec4;
}

/* line 76, ../sass/partials/_typography.scss */
a:hover {
  color: white;
}

/* fancyBox v2.0.4 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 2, ../sass/partials/_fancybox.scss */
.fancybox-tmp iframe, .fancybox-tmp object {
  vertical-align: top;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/partials/_fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
}

/* line 15, ../sass/partials/_fancybox.scss */
.fancybox-outer {
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 26, ../sass/partials/_fancybox.scss */
.fancybox-opened {
  z-index: 1003;
}

/* line 30, ../sass/partials/_fancybox.scss */
.fancybox-opened .fancybox-outer {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 36, ../sass/partials/_fancybox.scss */
.fancybox-inner {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  outline: none;
  overflow: hidden;
}

/* line 46, ../sass/partials/_fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

/* line 53, ../sass/partials/_fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

/* line 63, ../sass/partials/_fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 68, ../sass/partials/_fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  width: 42px;
  height: 42px;
  background: url("fancybox_loading.gif");
  opacity: 0.8;
  cursor: pointer;
  z-index: 1010;
}

/* line 82, ../sass/partials/_fancybox.scss */
.fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png");
}

/* line 86, ../sass/partials/_fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1004;
}

/* line 96, ../sass/partials/_fancybox.scss */
.fancybox-prev, .fancybox-next {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  background: transparent url("blank.gif");
  /* helps IE */
  z-index: 1003;
}

/* line 106, ../sass/partials/_fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 110, ../sass/partials/_fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 114, ../sass/partials/_fancybox.scss */
.fancybox-prev span, .fancybox-next span {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 1003;
}

/* line 125, ../sass/partials/_fancybox.scss */
.fancybox-prev span {
  background-position: 0 -36px;
}

/* line 129, ../sass/partials/_fancybox.scss */
.fancybox-next span {
  background-position: 0 -72px;
}

/* line 133, ../sass/partials/_fancybox.scss */
.fancybox-prev:hover, .fancybox-next:hover {
  visibility: visible;
}

/* line 137, ../sass/partials/_fancybox.scss */
.fancybox-prev:hover span {
  left: 20px;
}

/* line 141, ../sass/partials/_fancybox.scss */
.fancybox-next:hover span {
  left: auto;
  right: 20px;
}

/* line 146, ../sass/partials/_fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  padding: 0;
  overflow: visible;
  visibility: hidden;
}

/* Overlay helper */
/* line 157, ../sass/partials/_fancybox.scss */
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 1001;
  background: #000;
}

/* Title helper */
/* line 169, ../sass/partials/_fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 1005;
}

/* line 177, ../sass/partials/_fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 181, ../sass/partials/_fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 1003;
  text-align: center;
}

/* line 190, ../sass/partials/_fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 206, ../sass/partials/_fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 212, ../sass/partials/_fancybox.scss */
.fancybox-title-inside-wrap {
  margin-top: 10px;
}

/* line 216, ../sass/partials/_fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*-------------- logo ---------------*/
/* line 2, ../sass/partials/_modules.scss */
header {
  float: right;
}
/* line 5, ../sass/partials/_modules.scss */
header #logo a {
  background: url("../images/folyo-logo-240.png") no-repeat;
  height: 110px;
  width: 240px;
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}

/*-------------- date ---------------*/
/*-------------- instapaper ---------------*/
/*-------------- follow ---------------*/
/* line 69, ../sass/partials/_modules.scss */
.entry-follow {
  margin-bottom: 120px;
}
/* line 71, ../sass/partials/_modules.scss */
.entry-follow h4 {
  color: #7a6964;
  font-size: 14px;
}

/*-------------- share ---------------*/
/* line 77, ../sass/partials/_modules.scss */
.entry-share {
  background: #f7efed url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANUlEQVQYGWM4evBg/f///xkIYUaQAmIAEyFFxw4dqgepodxEmEkwG8k3Ed0k8k3EZRLJJgIACWs3zlQbQPIAAAAASUVORK5CYII=");
  padding: 15px 30px;
  overflow: hidden;
  width: 630px;
}
/* line 82, ../sass/partials/_modules.scss */
.entry-share h3, .entry-share h4 {
  float: left;
  margin: 0 30px 0 0;
  line-height: 30px;
}
/* line 87, ../sass/partials/_modules.scss */
.entry-share .share-option {
  float: left;
  margin-right: 30px;
}
/* line 90, ../sass/partials/_modules.scss */
.entry-share .share-option .box {
  overflow: hidden;
}
/* line 92, ../sass/partials/_modules.scss */
.entry-share .share-option .box .share {
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  float: left;
  margin-right: 5px;
}
/* line 99, ../sass/partials/_modules.scss */
.entry-share .share-option .box .count {
  float: right;
  width: 60px;
  line-height: 30px;
  height: 30px;
  padding: 0 10px 0 0;
  background: #f7efed url("../images/pictos.png") no-repeat 0 -330px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: right;
  font-size: 16px;
}
/* line 110, ../sass/partials/_modules.scss */
.entry-share .share-option .box:hover .count {
  background-position: 0 -330px;
  color: #574742;
}
/* line 117, ../sass/partials/_modules.scss */
.entry-share #twitter .share {
  background: url("../images/pictos.png") no-repeat 0 -120px;
}
/* line 120, ../sass/partials/_modules.scss */
.entry-share #twitter:hover .share {
  background-position: 0 -150px;
}
/* line 125, ../sass/partials/_modules.scss */
.entry-share #facebook .share {
  background: url("../images/pictos.png") no-repeat 0 -180px;
}
/* line 129, ../sass/partials/_modules.scss */
.entry-share #facebook:hover .share {
  background-position: 0 -210px;
}
/* line 134, ../sass/partials/_modules.scss */
.entry-share #googleplus .share {
  background: url("../images/pictos.png") no-repeat 0 -240px;
}
/* line 137, ../sass/partials/_modules.scss */
.entry-share #googleplus:hover .share {
  background-position: 0 -270px;
}

/*-------------- title ---------------*/
/* line 143, ../sass/partials/_modules.scss */
.entry-title {
  line-height: 1;
  margin-bottom: 10px;
  font-size: 36px;
  margin-bottom: 44px;
}
/* line 148, ../sass/partials/_modules.scss */
.entry-title a {
  color: #485056;
}
/* line 150, ../sass/partials/_modules.scss */
.entry-title a:visited {
  color: #485056;
}
/* line 153, ../sass/partials/_modules.scss */
.entry-title a:hover {
  color: #4e9ec4;
}

/*-------------- entry content ---------------*/
/* line 159, ../sass/partials/_modules.scss */
.entry-content {
  margin-bottom: 0px;
}
/* line 161, ../sass/partials/_modules.scss */
.entry-content > p:last-child:after {
  content: "■";
  color: #eb5f3a;
  display: inline-block;
  padding-left: 3px;
  font-size: 18px;
  line-height: 15px;
}

/*-------------- note ---------------*/
/* line 171, ../sass/partials/_modules.scss */
.entry-content h5, .note {
  background: #fef9c7;
  color: #8d7825;
  font-weight: normal;
  padding: 30px 30px 30px 60px;
  font-size: 16px;
  line-height: 1.7;
  position: relative;
}
/* line 179, ../sass/partials/_modules.scss */
.entry-content h5:after, .note:after {
  content: "Note";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 6px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f9ec6e;
  font-size: 12px;
}

/*-------------- post ---------------*/
/* line 194, ../sass/partials/_modules.scss */
article.post .read-more, article.page .read-more {
  text-decoration: underline;
  display: inline-block;
  margin-left: 3px;
}

/* line 200, ../sass/partials/_modules.scss */
#rss-link {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url("../images/pictos.png") left -432px;
  margin: 0 0 0 5px;
  cursor: pointer;
}
/* line 208, ../sass/partials/_modules.scss */
#rss-link:hover, .current-menu-item #rss-link {
  background-position: left -420px;
}

/* line 212, ../sass/partials/_modules.scss */
#tagline {
  font-size: 16px;
  color: #7a6964;
}

/* line 216, ../sass/partials/_modules.scss */
.social {
  /*	h3{
  		float:left;
  		font-size:16px;
  		line-height:30px;
  		margin-right:12px;
  	}*/
}
/* line 223, ../sass/partials/_modules.scss */
.social ul {
  float: left;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* line 4, ../sass/partials/_mixins.scss */
.social ul li {
  display: block;
  float: left;
}
/* line 228, ../sass/partials/_modules.scss */
.social ul li {
  height: 30px;
  width: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background: #eb5f3a;
  margin-right: 12px;
}
/* line 234, ../sass/partials/_modules.scss */
.social ul li.find-me {
  width: auto;
  background: none;
  font-weight: bold;
  font-size: 16px;
}
/* line 240, ../sass/partials/_modules.scss */
.social ul li:last-child {
  margin-right: 0;
}
/* line 243, ../sass/partials/_modules.scss */
.social ul li:hover {
  background: #574742;
}
/* line 246, ../sass/partials/_modules.scss */
.social ul li a {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  height: 30px;
}
/* line 250, ../sass/partials/_modules.scss */
.social ul li.twitter a {
  background: url("../images/pictos.png") no-repeat 0 -30px;
}
/* line 253, ../sass/partials/_modules.scss */
.social ul li.dribbble a {
  background: url("../images/pictos.png") no-repeat 0 -60px;
}
/* line 256, ../sass/partials/_modules.scss */
.social ul li.quora a {
  background: url("../images/pictos.png") no-repeat 0 -90px;
}
/* line 259, ../sass/partials/_modules.scss */
.social ul li.zerply a {
  background: url("../images/pictos.png") no-repeat 0 -120px;
}
/* line 262, ../sass/partials/_modules.scss */
.social ul li.blank {
  background: url("../images/pictos.png") no-repeat left top;
}

/* line 268, ../sass/partials/_modules.scss */
#sidebar {
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}
/* line 270, ../sass/partials/_modules.scss */
#sidebar h3 {
  text-transform: uppercase;
  color: #beaea5;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  position: relative;
  height: 21px;
  text-align: center;
  margin-bottom: 15px;
  white-space: nowrap;
}
/* line 281, ../sass/partials/_modules.scss */
#sidebar h3 span {
  display: inline-block;
  position: absolute;
  padding: 0 10px;
  left: 50%;
}
/* line 288, ../sass/partials/_modules.scss */
#sidebar h3 span:before, #sidebar h3 span:after {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIHWP8//8/w5VD2/8zAIGOnScjEzIHJMgEkwHRIElGkBYYB0QDAAkQFU3J6bOAAAAAAElFTkSuQmCC");
  content: " ";
  display: block;
  height: 14px;
  right: 100%;
  width: 300px;
  position: absolute;
  top: 4px;
}
/* line 298, ../sass/partials/_modules.scss */
#sidebar h3 span:after {
  left: 100%;
}
/* line 301, ../sass/partials/_modules.scss */
#sidebar .widgets {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 305, ../sass/partials/_modules.scss */
#sidebar .widgets > li {
  margin-bottom: 60px;
  line-height: 1.5;
  font-size: 16px;
}
/* line 310, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_recent_entries ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 314, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_recent_entries ul li {
  margin-bottom: 15px;
}
/* line 319, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_fusion .fusionentire {
  overflow: hidden;
  display: block;
}
/* line 322, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_fusion .fusionentire .fusionimg {
  display: block;
  margin-bottom: 5px;
  float: left;
  width: 130px;
  margin-right: 10px;
}
/* line 329, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_fusion .fusionentire .fusiontext {
  float: left;
  width: 100px;
  font-size: 13px;
  display: block;
  color: #574742;
}
/* line 337, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_fusion .fusion-link {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #7a6964;
}
/* line 344, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_tagline h3 span {
  width: 62px;
  margin-left: -41px;
}
/* line 348, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_folyo h3 span {
  width: 110px;
  margin-left: -65px;
}
/* line 352, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_recent_entries h3 span {
  margin-left: -75px;
  width: 130px;
}
/* line 356, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_social h3 span {
  width: 102px;
  margin-left: -61px;
}
/* line 360, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_smashing h3 span {
  margin-left: -66px;
}
/* line 363, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_fusion h3 span {
  margin-left: -77px;
}

/* line 368, ../sass/partials/_modules.scss */
#footer {
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  font-size: 14px;
  margin: 60px 0;
}

/*-------------- form ---------------*/
/* line 374, ../sass/partials/_modules.scss */
form {
  background: #f7efed;
  width: 600px;
  padding: 30px 60px 30px 30px;
  /*	.form-text span{
  		position:relative;
  		&:after,&:before{
  			content:" ";
  			position:absolute;
  			@include border-radius(3px 0 0 3px);
  			display:block;
  		}
  		&:after{
  			@include stripes;
  			top:-39px;
  			left:1px;
  			z-index:5;
  			height:38px;
  			width:40px;
  		}
  		&:before{
  			background:url("../images/pictos.png") no-repeat 0px -360px;
  			z-index:10;
  			top:6px;
  			left:6px;
  			height:30px;
  			width:30px;
  		}
  		&.your-email:before{
  			background-position:0 -390px;
  		}
  		input{
  			padding:0 10px 0 50px;
  			width:300px;	
  		}
  	}*/
}
/* line 378, ../sass/partials/_modules.scss */
form .form-item {
  position: relative;
  margin-bottom: 30px;
}
/* line 381, ../sass/partials/_modules.scss */
form .form-item:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIHWP8//8/w5VD2/8zAIGOnScjEzIHJMgEkwHRIElGkBYYB0QDAAkQFU3J6bOAAAAAAElFTkSuQmCC");
  content: " ";
  height: 24px;
  width: 360px;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
}
/* line 392, ../sass/partials/_modules.scss */
form .wpcf7-text, form textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.35) 0 1px 0;
  -webkit-box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 1px #e2d0cc;
  -moz-box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 1px #e2d0cc;
  box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 1px #e2d0cc;
  position: relative;
}
/* line 399, ../sass/partials/_modules.scss */
form .wpcf7-form-control-wrap {
  position: relative;
}
/* line 402, ../sass/partials/_modules.scss */
form label {
  margin-bottom: 10px;
  margin-top: 1px;
  font-weight: bold;
  color: #beaea5;
  text-transform: uppercase;
  background: #f7efed;
  display: inline-block;
  position: absolute;
  line-height: 22px;
  z-index: 10;
  padding: 0 3px;
  margin-left: 1px;
}
/* line 416, ../sass/partials/_modules.scss */
form .wpcf7-text {
  height: 24px;
  line-height: 24px;
  display: block;
  width: 340px;
  padding: 8px 10px;
}
/* line 423, ../sass/partials/_modules.scss */
form textarea {
  padding: 10px;
  width: 340px;
  height: 150px;
}
/* line 428, ../sass/partials/_modules.scss */
form input:focus, form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 3px #e2d0cc;
  -moz-box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 3px #e2d0cc;
  box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 3px #e2d0cc;
}
/* line 432, ../sass/partials/_modules.scss */
form span.wpcf7-not-valid-tip {
  position: absolute;
  top: -36px;
  background: none;
  border: none;
  color: #eb5f3a;
  font-weight: bold;
  left: 370px;
  font-size: 16px;
}
/* line 442, ../sass/partials/_modules.scss */
form .wpcf7-submit {
  color: white;
  background: #eb5f3a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  border: none;
  font-weight: bold;
}
/* line 452, ../sass/partials/_modules.scss */
form div.wpcf7-response-output {
  margin: 0;
  padding: 15px;
  border: 0;
  background: #e1e1e0;
}
/* line 458, ../sass/partials/_modules.scss */
form div.wpcf7-validation-errors {
  background: #eb5f3a;
  color: white;
}
/* line 462, ../sass/partials/_modules.scss */
form div.wpcf7-mail-sent-ok {
  background: #bae861;
}

/*-------------- comments ---------------*/
/* line 499, ../sass/partials/_modules.scss */
#disqus_thread {
  margin-bottom: 60px !important;
}
/* line 501, ../sass/partials/_modules.scss */
#disqus_thread #dsq-global-toolbar {
  display: none;
}
/* line 504, ../sass/partials/_modules.scss */
#disqus_thread #dsq-comments, #disqus_thread .dsq-comments {
  list-style-type: none;
  border-top: 1px solid #e1e1e0 !important;
  margin: 30px 0 0 0 !important;
  padding: 30px 0 0 0 !important;
}
/* line 510, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment-child {
  margin-left: 90px !important;
}
/* line 513, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment, #disqus_thread .dsq-comment:hover {
  border-bottom: 1px solid #e1e1e0;
  padding: 0 60px 30px 0 !important;
  margin-bottom: 30px !important;
}
/* line 517, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment .dsq-avatar, #disqus_thread .dsq-comment:hover .dsq-avatar {
  display: block;
  /*			img{
  				-webkit-border-radius: 60px !important;
  				-moz-border-radius: 60px !important;
  				border-radius: 60px !important;
  				-webkit-box-shadow:none !important;
  				-moz-box-shadow:none !important;
  				box-shadow:none !important;
  				margin:0 !important;
  				padding:0 !important;
  				height:60px !important;
  				width:60px !important;
  				border:none !important;
  				background:none !important;
  				@include transition-property(height);
  				@include transition-property(width);
  			}*/
}
/* line 535, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment .dsq-avatar img, #disqus_thread .dsq-comment:hover .dsq-avatar img {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  height: 60px;
  width: 60px;
}
/* line 541, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment .dsq-comment-message, #disqus_thread .dsq-comment:hover .dsq-comment-message {
  line-height: 1.5 !important;
  font-size: 16px !important;
}
/* line 545, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment .dsq-comment-body, #disqus_thread .dsq-comment:hover .dsq-comment-body {
  padding-left: 90px !important;
}
/* line 550, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment-is-collapsed .dsq-avatar img, #disqus_thread .dsq-comment-is-collapsed:hover .dsq-avatar img {
  height: 40px !important;
  width: 40px !important;
}
/* line 555, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment-cite, #disqus_thread .dsq-commenter-name {
  font-size: 24px !important;
}
/* line 558, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment-header {
  background: none;
  padding: 0;
  border: none;
  line-height: 1.2;
}
/* line 564, ../sass/partials/_modules.scss */
#disqus_thread .dsq-depth-1 {
  margin-left: 90px !important;
}
/* line 567, ../sass/partials/_modules.scss */
#disqus_thread #dsq-sort-by, #disqus_thread .dsq-reply, #disqus_thread #dsq-global-toolbar, #disqus_thread #dsq-pagination {
  padding-right: 60px;
}
/* line 570, ../sass/partials/_modules.scss */
#disqus_thread .dsq-trackbacks {
  margin-top: 30px !important;
  border-top: 1px solid #e1e1e0;
  padding-top: 30px !important;
}
/* line 574, ../sass/partials/_modules.scss */
#disqus_thread .dsq-trackbacks li {
  border-bottom: 1px solid #e1e1e0;
  padding: 0 60px 30px 0 !important;
  margin-bottom: 30px !important;
}
/* line 578, ../sass/partials/_modules.scss */
#disqus_thread .dsq-trackbacks li cite a {
  font-style: normal;
}
/* line 581, ../sass/partials/_modules.scss */
#disqus_thread .dsq-trackbacks li .dsq-trackback-date {
  color: #beaea5;
  font-size: 14px;
}

/*-------------- page ---------------*/
/* line 3, ../sass/partials/_pages.scss */
body.page .page {
  padding-right: 90px;
}
/* line 6, ../sass/partials/_pages.scss */
body.page .entry-content {
  margin-bottom: 120px;
}

/*-------------- home ---------------*/
/* line 12, ../sass/partials/_pages.scss */
.home .post {
  margin-bottom: 50px;
}
/* line 14, ../sass/partials/_pages.scss */
.home .post .entry-title {
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 10px;
}
/* line 19, ../sass/partials/_pages.scss */
.home .post:last-child {
  border: none;
  margin-bottom: 0;
}
/* line 23, ../sass/partials/_pages.scss */
.home .post .entry-image {
  float: right;
  margin-left: 60px;
}
/* line 26, ../sass/partials/_pages.scss */
.home .post .entry-image a, .home .post .entry-image img {
  height: 120px;
  width: 120px;
  display: block;
}
/* line 31, ../sass/partials/_pages.scss */
.home .post .entry-image a {
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  border-radius: 120px;
  overflow: hidden;
}
/* line 40, ../sass/partials/_pages.scss */
.home .navigation {
  margin-bottom: 60px;
  overflow: hidden;
  padding-right: 90px;
}
/* line 44, ../sass/partials/_pages.scss */
.home .navigation .nav-previous {
  float: left;
}
/* line 47, ../sass/partials/_pages.scss */
.home .navigation .nav-next {
  float: right;
}

/*-------------- single ---------------*/
/* line 54, ../sass/partials/_pages.scss */
.single .post {
  border-bottom: 4px solid #eb5f3a;
}
/* line 56, ../sass/partials/_pages.scss */
.single .post .entry-image {
  width: 690px;
  overflow: hidden;
  margin-bottom: 60px;
}
/* line 60, ../sass/partials/_pages.scss */
.single .post .entry-image img {
  display: block;
  border-bottom: 4px solid #eb5f3a;
}
/* line 64, ../sass/partials/_pages.scss */
.single .post .entry-image .credit {
  font-size: 12px;
  margin-top: 5px;
  color: #beaea5;
}
/* line 77, ../sass/partials/_pages.scss */
.single .post .entry-utility {
  display: none;
}
/* line 80, ../sass/partials/_pages.scss */
.single .post .wp-caption {
  width: 690px;
  background: #f7efed url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAANUlEQVQYGWM4evBg/f///xkIYUaQAmIAEyFFxw4dqgepodxEmEkwG8k3Ed0k8k3EZRLJJgIACWs3zlQbQPIAAAAASUVORK5CYII=");
  margin-bottom: 30px;
  overflow: hidden;
}
/* line 85, ../sass/partials/_pages.scss */
.single .post .wp-caption a, .single .post .wp-caption img {
  display: block;
}
/* line 88, ../sass/partials/_pages.scss */
.single .post .wp-caption .wp-caption-text {
  margin-bottom: 0;
  color: #beaea5;
  padding: 10px 15px;
  font-variant: small-caps;
}
/* line 96, ../sass/partials/_pages.scss */
.single .read-next {
  padding: 0 60px 60px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid #e1e1e0;
}
/* line 100, ../sass/partials/_pages.scss */
.single .read-next h3 {
  margin-bottom: 30px;
}
/* line 103, ../sass/partials/_pages.scss */
.single .read-next .navigation {
  overflow: hidden;
}
/* line 105, ../sass/partials/_pages.scss */
.single .read-next .navigation .post-preview {
  margin-right: 60px;
  float: left;
  width: 160px;
}
/* line 109, ../sass/partials/_pages.scss */
.single .read-next .navigation .post-preview > a, .single .read-next .navigation .post-preview > span {
  font-size: 16px;
  text-align: center;
  line-height: 1.3;
  display: block;
  font-weight: bold;
}
/* line 116, ../sass/partials/_pages.scss */
.single .read-next .navigation .post-preview:last-child {
  margin-right: 0;
}
/* line 119, ../sass/partials/_pages.scss */
.single .read-next .navigation .post-preview h4 {
  text-align: center;
  font-variant: small-caps;
}
/* line 124, ../sass/partials/_pages.scss */
.single .read-next .navigation .entry-image {
  margin-bottom: 15px;
  position: relative;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  -o-border-radius: 160px;
  border-radius: 160px;
}
/* line 128, ../sass/partials/_pages.scss */
.single .read-next .navigation .entry-image a {
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  -o-border-radius: 160px;
  border-radius: 160px;
  overflow: hidden;
  display: block;
}
/* line 132, ../sass/partials/_pages.scss */
.single .read-next .navigation .entry-image a img {
  width: 160px;
  display: block;
}
/* line 136, ../sass/partials/_pages.scss */
.single .read-next .navigation .entry-image a .arrow {
  height: 100%;
  width: 100%;
  display: block;
  background: url("../images/arrow-sprite.png") left -160px;
  display: block;
  position: absolute;
  z-index: 20;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  -o-border-radius: 160px;
  border-radius: 160px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
}
/* line 150, ../sass/partials/_pages.scss */
.single .read-next .navigation .entry-image a:hover .arrow {
  opacity: 1;
}
/* line 154, ../sass/partials/_pages.scss */
.single .read-next .navigation .entry-image.blank {
  background: #beaea5;
  opacity: 0.25;
}
/* line 159, ../sass/partials/_pages.scss */
.single .read-next .navigation .nav-previous .arrow {
  background-position: left bottom !important;
}
/* line 162, ../sass/partials/_pages.scss */
.single .read-next .navigation .nav-next .arrow {
  background-position: left top !important;
}

/* Smartphones ----------- */
@media only screen and  (max-width : 480px) {
  /* Styles */
  /* line 5, ../sass/partials/_mobile.scss */
  body {
    padding-top: 0;
    font-size: 16px;
  }

  /* line 9, ../sass/partials/_mobile.scss */
  h1 {
    font-size: 30px;
  }

  /* line 12, ../sass/partials/_mobile.scss */
  h2 {
    font-size: 24px;
  }

  /* line 15, ../sass/partials/_mobile.scss */
  h3 {
    font-size: 18px;
  }

  /* line 18, ../sass/partials/_mobile.scss */
  h4 {
    font-size: 14px;
  }

  /* line 24, ../sass/partials/_mobile.scss */
  .container {
    width: auto;
    max-width: 100%;
    padding: 0;
  }

  /* line 29, ../sass/partials/_mobile.scss */
  .menu-header {
    display: none;
  }

  /* line 32, ../sass/partials/_mobile.scss */
  #navigation {
    padding: 20px;
    margin: 0;
    height: 30px;
  }
  /* line 36, ../sass/partials/_mobile.scss */
  #navigation #selectmenu-primary {
    display: block;
  }

  /* line 40, ../sass/partials/_mobile.scss */
  #content {
    width: 100%;
    margin: 0;
  }
  /* line 43, ../sass/partials/_mobile.scss */
  #content article {
    margin: 0;
    padding: 30px 0;
  }
  /* line 47, ../sass/partials/_mobile.scss */
  #content .entry-summary, #content .entry-content, #content .entry-title, #content #disqus_thread, #content .entry-follow, #content .entry-share {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* line 52, ../sass/partials/_mobile.scss */
  .home .post .entry-image {
    margin-right: 20px;
  }
  /* line 54, ../sass/partials/_mobile.scss */
  .home .post .entry-image a, .home .post .entry-image img {
    width: 80px;
    height: 80px;
  }

  /* line 60, ../sass/partials/_mobile.scss */
  .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content ul, .entry-content ol, .entry-content p, .entry-content hr, .entry-content blockquote {
    margin: 0 0 20px 0;
  }

  /* line 64, ../sass/partials/_mobile.scss */
  .single .post .entry-image, h1.entry-title {
    margin-bottom: 20px;
  }

  /* line 67, ../sass/partials/_mobile.scss */
  #sidebar {
    width: auto;
  }
  /* line 70, ../sass/partials/_mobile.scss */
  #sidebar .widgets .widget-container {
    margin-bottom: 30px;
  }
  /* line 72, ../sass/partials/_mobile.scss */
  #sidebar .widgets .widget-container > p, #sidebar .widgets .widget-container > ul {
    padding: 0 20px;
  }

  /* line 78, ../sass/partials/_mobile.scss */
  .entry-share {
    width: auto;
  }
  /* line 80, ../sass/partials/_mobile.scss */
  .entry-share h4, .entry-share .share-option {
    float: none;
    margin-bottom: 10px;
  }

  /* line 85, ../sass/partials/_mobile.scss */
  .single .post .entry-image, .single .post .entry-image img, .entry-content img {
    width: 100% !important;
    height: auto;
  }

  /* line 89, ../sass/partials/_mobile.scss */
  .entry-content img.ajax-loader {
    height: 16px;
    width: 16px;
  }

  /* line 93, ../sass/partials/_mobile.scss */
  body.page .entry-content {
    margin-bottom: 20px;
  }

  /* line 96, ../sass/partials/_mobile.scss */
  .single .read-next {
    padding: 30px;
  }
  /* line 98, ../sass/partials/_mobile.scss */
  .single .read-next .navigation .post-preview {
    width: 30%;
    margin-right: 5%;
  }
  /* line 101, ../sass/partials/_mobile.scss */
  .single .read-next .navigation .post-preview .entry-image a img {
    width: 100%;
    height: auto;
  }

  /* line 107, ../sass/partials/_mobile.scss */
  #footer a {
    display: block;
    padding: 0 20px;
  }

  /* line 111, ../sass/partials/_mobile.scss */
  form {
    width: auto;
    padding: 0;
    background: none;
  }
  /* line 116, ../sass/partials/_mobile.scss */
  form .form-item:before {
    width: auto;
  }
  /* line 120, ../sass/partials/_mobile.scss */
  form label {
    background: white;
  }
  /* line 123, ../sass/partials/_mobile.scss */
  form .wpcf7-text {
    width: auto;
  }
}
