/** START HTML5 Boilerplate CSS **/
/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
/* line 30, ../sass/partials/_boilerplate.scss */
html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 38, ../sass/partials/_boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../sass/partials/_boilerplate.scss */
blockquote, q {
  quotes: none;
}

/* line 45, ../sass/partials/_boilerplate.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 47, ../sass/partials/_boilerplate.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 49, ../sass/partials/_boilerplate.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 51, ../sass/partials/_boilerplate.scss */
del {
  text-decoration: line-through;
}

/* line 53, ../sass/partials/_boilerplate.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 55, ../sass/partials/_boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 57, ../sass/partials/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
/* line 64, ../sass/partials/_boilerplate.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* Hack retained to preserve specificity */
/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 68, ../sass/partials/_boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/**
 * Minimal base styles.
 */
/* 1) Always force a scrollbar in non-IE
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
/* line 77, ../sass/partials/_boilerplate.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* j.mp/webkit-tap-highlight-color */
/* line 80, ../sass/partials/_boilerplate.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 83, ../sass/partials/_boilerplate.scss */
a:hover, a:active {
  outline: none;
}

/* line 85, ../sass/partials/_boilerplate.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 86, ../sass/partials/_boilerplate.scss */
a:hover {
  color: #036;
}

/* line 88, ../sass/partials/_boilerplate.scss */
ul, ol {
  margin-left: 2em;
}

/* line 89, ../sass/partials/_boilerplate.scss */
ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
/* line 92, ../sass/partials/_boilerplate.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 94, ../sass/partials/_boilerplate.scss */
small {
  font-size: 85%;
}

/* line 95, ../sass/partials/_boilerplate.scss */
b, strong, th {
  font-weight: bold;
}

/* line 97, ../sass/partials/_boilerplate.scss */
td {
  vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 100, ../sass/partials/_boilerplate.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 101, ../sass/partials/_boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 102, ../sass/partials/_boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* line 104, ../sass/partials/_boilerplate.scss */
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 110, ../sass/partials/_boilerplate.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements.
      Firefox adds a 1px margin above and below textareas
   3) Set font-size to match <body>'s, and font-family to sans-serif
   4) Align to baseline */
/* line 117, ../sass/partials/_boilerplate.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
/* line 121, ../sass/partials/_boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* Hand cursor on clickable input elements */
/* line 124, ../sass/partials/_boilerplate.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Remove extra padding and inner border in Firefox */
/* line 128, ../sass/partials/_boilerplate.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Colors for form validity */
/* line 132, ../sass/partials/_boilerplate.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 133, ../sass/partials/_boilerplate.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 137, ../sass/partials/_boilerplate.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/**
 * You might tweak these..
 */
/* line 144, ../sass/partials/_boilerplate.scss */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
/* line 152, ../sass/partials/_boilerplate.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* line 157, ../sass/partials/_boilerplate.scss */
::-moz-selection {
  background: #4e9ec4;
  color: #fff;
  text-shadow: none;
}

/* line 158, ../sass/partials/_boilerplate.scss */
::selection {
  background: #4e9ec4;
  color: #fff;
  text-shadow: none;
}

/**
 * Primary styles
 *
 * Author:
 */
/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
/* line 186, ../sass/partials/_boilerplate.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 187, ../sass/partials/_boilerplate.scss */
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 191, ../sass/partials/_boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 195, ../sass/partials/_boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 198, ../sass/partials/_boilerplate.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 201, ../sass/partials/_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
/* line 205, ../sass/partials/_boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 206, ../sass/partials/_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 207, ../sass/partials/_boilerplate.scss */
.clearfix {
  zoom: 1;
}

/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 * The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
 */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
/*/mediaquery*/
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/*/mediaquery*/
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  /* line 235, ../sass/partials/_boilerplate.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 237, ../sass/partials/_boilerplate.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 238, ../sass/partials/_boilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 239, ../sass/partials/_boilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 240, ../sass/partials/_boilerplate.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 241, ../sass/partials/_boilerplate.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 242, ../sass/partials/_boilerplate.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 243, ../sass/partials/_boilerplate.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 244, ../sass/partials/_boilerplate.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 246, ../sass/partials/_boilerplate.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 247, ../sass/partials/_boilerplate.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/** END HTML5 Boilerplate CSS **/
/** START Starkers CSS **/
/* LAYOUT */
/* ----------------------------------------- */
/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
/* line 259, ../sass/partials/_boilerplate.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 260, ../sass/partials/_boilerplate.scss */
.alignleft {
  float: left;
}

/* line 261, ../sass/partials/_boilerplate.scss */
.alignright {
  float: right;
}

/* You might find the following useful */
                                                                      /* div, ul, li { position:relative } This will save you having to declare each div / ul / li's position as 'relative' and allows you to absolutely position elements inside them
br.clear { clear:both; display:block; height:1px; margin:-1px 0 0 0 } /* Use this br class to clear your floated columns */
/* line 266, ../sass/partials/_boilerplate.scss */
li#theme-switcher {
  background: #fff;
  border: 10px solid red;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
}

/* Use this if you have the Theme Switcher Reloaded plugin (http://themebot.com/webmaster-tools/1-wordpress-theme-switcher-reloaded) installed and want to make it nice and obvious */
/* TYPOGRAPHY */
/* ----------------------------------------- */
/* line 271, ../sass/partials/_boilerplate.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* This helps to identify headings at the initial build stage, so I thought it'd be useful to have it */
/* line 272, ../sass/partials/_boilerplate.scss */
.alert {
  background: red;
  color: white;
}

/* 'alert' has a basic style, since it's useful to have it standing out for testing purposes.



/* Font stack options

	The following represents a list of font stacks, as recommended by Nathan Ford in
	http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/

	I've added inverted commas around the relevant family names to ensure compatibility.
	p = balanced for paragraphs or body copy
	t = balanced for headlines or titles

	- - - -

Arial, "Helvetica Neue", Helvetica, sans-serif - p, t

Baskerville, "Times New Roman", Times, serif - p
Baskerville, "Times, Times New Roman", serif - t

Cambria, Georgia, Times, "Times New Roman", serif - p, t
"Century Gothic", "Apple Gothic", sans-serif - p, t

Consolas, "Lucida Console", Monaco, monospace - p, t

"Copperplate Light", "Copperplate Gothic Light", serif - p, t

"Courier New", Courier, monospace - p, t

"Franklin Gothic Medium", "Arial Narrow Bold", Arial, sans-serif - p, t

Futura, "Century Gothic", "Apple Gothic", sans-serif - p, t

Garamond, "Hoefler Text", "Times New Roman", Times, serif - p
Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif - t

Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif - p
Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - t

Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif - p
Georgia, Times, "Times New Roman", serif - t

GillSans, Calibri, Trebuchet, sans-serif - p
GillSans, Trebuchet, Calibri, sans-serif - t

"Helvetica Neue", Arial, Helvetica, sans-serif - p
Helvetica, "Helvetica Neue", Arial, sans-serif - t

Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif - p, t

"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif - p, t

Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif - p
Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif - t

Tahoma, Geneva, Verdana - p
Tahoma, Verdana, Geneva - t

Times, "Times New Roman", Georgia, serif - p, t

Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif - p
Trebuchet, Tahoma, Arial, sans-serif - t

Verdana, Geneva, Tahoma, sans-serif - p
Verdana, Tahoma, Geneva, sans-serif - t

*/
/** END Starkers CSS **/
/** START WordPress-Defined CSS Classes **/
/** END WordPress-Defined CSS Classes **/
/* line 12, ../sass/partials/_layout.scss */
body {
  padding-top: 80px;
}

/* line 15, ../sass/partials/_layout.scss */
.container {
  width: 1150px;
}

/*-------------- navigation ---------------*/
/* line 19, ../sass/partials/_layout.scss */
header {
  width: 200px;
  margin-bottom: 40px;
  float: right;
}
/* line 23, ../sass/partials/_layout.scss */
header #navigation {
  display: none;
  margin-bottom: 50px;
  font-size: 16px;
}
/* line 27, ../sass/partials/_layout.scss */
header #navigation #skip {
  display: none;
}
/* line 30, ../sass/partials/_layout.scss */
header #navigation #selectmenu-primary {
  display: none;
}
/* line 33, ../sass/partials/_layout.scss */
header #navigation ul {
  height: 91px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 38, ../sass/partials/_layout.scss */
header #navigation ul li {
  width: 90px;
  float: left;
  display: block;
  margin-bottom: 5px;
}
/* line 43, ../sass/partials/_layout.scss */
header #navigation ul li:nth-child(odd) {
  margin-right: 60px;
}
/* line 46, ../sass/partials/_layout.scss */
header #navigation ul li:nth-child(5), header #navigation ul li:nth-child(6) {
  margin-bottom: 0;
}
/* line 50, ../sass/partials/_layout.scss */
header #navigation ul li a:visited {
  color: #eb5f3a;
}
/* line 53, ../sass/partials/_layout.scss */
header #navigation ul li a:hover {
  color: #574742 !important;
}
/* line 57, ../sass/partials/_layout.scss */
header #navigation ul li.current-menu-item a {
  cursor: text;
  color: #574742;
}
/* line 60, ../sass/partials/_layout.scss */
header #navigation ul li.current-menu-item a:visited {
  color: #574742;
}

/* line 68, ../sass/partials/_layout.scss */
#content {
  background: url("../images/content-bg-middle.png") repeat-y;
  width: 920px;
  float: left;
  position: relative;
}
/* line 73, ../sass/partials/_layout.scss */
#content:before, #content:after {
  content: "";
  width: 920px;
  height: 30px;
  position: absolute;
  left: 0px;
}
/* line 80, ../sass/partials/_layout.scss */
#content:before {
  background: url("../images/content-bg-top.png") no-repeat;
  top: -30px;
}
/* line 84, ../sass/partials/_layout.scss */
#content:after {
  background: url("../images/content-bg-bottom.png") no-repeat;
  bottom: -30px;
}
/* line 88, ../sass/partials/_layout.scss */
#content .inner {
  padding: 10px 120px 10px 200px;
}

/* line 93, ../sass/partials/_layout.scss */
#sidebar {
  width: 200px;
  float: right;
}

/* line 97, ../sass/partials/_layout.scss */
#footer {
  width: 100%;
  float: left;
}

/*-------------- background ---------------*/
/* line 5, ../sass/partials/_base.scss */
body {
  background: url("../images/blackboard-bg.png");
}

/* line 8, ../sass/partials/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/partials/_base.scss */
.inner {
  background: url("../images/stitch.png") repeat-y 90px 90px;
}

/* line 1, ../sass/partials/_typography.scss */
body, input, textarea, p {
  font-family: ff-tisa-web-pro, chaparral-pro, skolar;
  color: #485056;
  font-size: 18px;
  line-height: 1.7;
}

/* line 7, ../sass/partials/_typography.scss */
h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

/* line 11, ../sass/partials/_typography.scss */
h1 {
  font-size: 60px;
}

/* line 14, ../sass/partials/_typography.scss */
h2 {
  font-size: 48px;
  font-weight: 600;
}

/* line 18, ../sass/partials/_typography.scss */
h3 {
  font-size: 30px;
}

/* line 21, ../sass/partials/_typography.scss */
h4 {
  font-size: 18px;
}

/* line 28, ../sass/partials/_typography.scss */
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content ul, .entry-content ol, .entry-content p, .entry-content hr, .entry-content blockquote {
  margin: 0 0 30px 0;
}
/* line 31, ../sass/partials/_typography.scss */
.entry-content hr {
  border: none;
  background: #e1e1e0;
  height: 1px;
  width: 690px;
  margin: 60px 0;
}
/* line 38, ../sass/partials/_typography.scss */
.entry-content blockquote {
  background: #e1e1e0;
  padding: 30px 30px 0 30px;
  display: block;
  overflow: hidden;
  font-style: italic;
}
/* line 45, ../sass/partials/_typography.scss */
.entry-content ul {
  padding-left: 60px;
  color: #eb5f3a;
  list-style-type: none;
}
/* line 49, ../sass/partials/_typography.scss */
.entry-content ul li {
  color: #574742;
  position: relative;
  margin-bottom: 10px;
}
/* line 54, ../sass/partials/_typography.scss */
.entry-content ul li:before {
  content: "•";
  color: #eb5f3a;
  position: absolute;
  left: -20px;
  display: block;
  font-size: 30px;
  height: 20px;
  width: 10px;
  line-height: 22px;
}

/*-------------- links ---------------*/
/* line 68, ../sass/partials/_typography.scss */
a {
  color: #4e9ec4;
  font-weight: bold;
  text-decoration: none;
}

/* line 73, ../sass/partials/_typography.scss */
a:visited {
  color: #4e9ec4;
}

/* line 76, ../sass/partials/_typography.scss */
a:hover {
  color: #4e9ec4;
  text-decoration: underline;
}

/* line 81, ../sass/partials/_typography.scss */
#sidebar a:hover, header a:hover {
  color: white;
  text-decoration: none;
}

/* line 86, ../sass/partials/_typography.scss */
.navigation, .entry-meta {
  font-variant: small-caps;
  color: #a4b5c0;
}
/* line 89, ../sass/partials/_typography.scss */
.navigation a, .entry-meta a {
  color: #a4b5c0;
  font-weight: normal;
}
/* line 92, ../sass/partials/_typography.scss */
.navigation a:hover, .entry-meta a:hover {
  color: #4e9ec4;
}

/* line 98, ../sass/partials/_typography.scss */
.wp-caption-text {
  font-family: "ff-market-web";
  font-size: 20px;
  color: #7a8d99;
}

/* fancyBox v2.0.4 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 2, ../sass/partials/_fancybox.scss */
.fancybox-tmp iframe, .fancybox-tmp object {
  vertical-align: top;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/partials/_fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
}

/* line 15, ../sass/partials/_fancybox.scss */
.fancybox-outer {
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 26, ../sass/partials/_fancybox.scss */
.fancybox-opened {
  z-index: 1003;
}

/* line 30, ../sass/partials/_fancybox.scss */
.fancybox-opened .fancybox-outer {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 36, ../sass/partials/_fancybox.scss */
.fancybox-inner {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  outline: none;
  overflow: hidden;
}

/* line 46, ../sass/partials/_fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

/* line 53, ../sass/partials/_fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

/* line 63, ../sass/partials/_fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 68, ../sass/partials/_fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -21px;
  width: 42px;
  height: 42px;
  background: url("fancybox_loading.gif");
  opacity: 0.8;
  cursor: pointer;
  z-index: 1010;
}

/* line 82, ../sass/partials/_fancybox.scss */
.fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png");
}

/* line 86, ../sass/partials/_fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1004;
}

/* line 96, ../sass/partials/_fancybox.scss */
.fancybox-prev, .fancybox-next {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  background: transparent url("blank.gif");
  /* helps IE */
  z-index: 1003;
}

/* line 106, ../sass/partials/_fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 110, ../sass/partials/_fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 114, ../sass/partials/_fancybox.scss */
.fancybox-prev span, .fancybox-next span {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 1003;
}

/* line 125, ../sass/partials/_fancybox.scss */
.fancybox-prev span {
  background-position: 0 -36px;
}

/* line 129, ../sass/partials/_fancybox.scss */
.fancybox-next span {
  background-position: 0 -72px;
}

/* line 133, ../sass/partials/_fancybox.scss */
.fancybox-prev:hover, .fancybox-next:hover {
  visibility: visible;
}

/* line 137, ../sass/partials/_fancybox.scss */
.fancybox-prev:hover span {
  left: 20px;
}

/* line 141, ../sass/partials/_fancybox.scss */
.fancybox-next:hover span {
  left: auto;
  right: 20px;
}

/* line 146, ../sass/partials/_fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  padding: 0;
  overflow: visible;
  visibility: hidden;
}

/* Overlay helper */
/* line 157, ../sass/partials/_fancybox.scss */
#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 1001;
  background: #000;
}

/* Title helper */
/* line 169, ../sass/partials/_fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 1005;
}

/* line 177, ../sass/partials/_fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 181, ../sass/partials/_fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 1003;
  text-align: center;
}

/* line 190, ../sass/partials/_fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 206, ../sass/partials/_fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 212, ../sass/partials/_fancybox.scss */
.fancybox-title-inside-wrap {
  margin-top: 10px;
}

/* line 216, ../sass/partials/_fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*-------------- logo ---------------*/
/* line 2, ../sass/partials/_modules.scss */
header {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
}
/* line 6, ../sass/partials/_modules.scss */
header #logo a {
  background: url("../images/folyo-blog-logo.png") no-repeat;
  height: 125px;
  width: 200px;
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  margin-bottom: 15px;
  display: block;
}
/* line 15, ../sass/partials/_modules.scss */
header p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  padding: 15px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

/*-------------- post ---------------*/
/* line 25, ../sass/partials/_modules.scss */
.post {
  position: relative;
}

/* line 28, ../sass/partials/_modules.scss */
.entry-social {
  display: none;
  position: absolute;
  top: 490px;
  left: -180px;
}

/* line 34, ../sass/partials/_modules.scss */
.entry-category {
  display: inline-block;
  border-right: 1px #ccc solid;
  padding-right: 10px;
  margin-right: 10px;
}

/* line 40, ../sass/partials/_modules.scss */
.entry-image, .wp-caption {
  padding: 15px;
  background: white;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  position: relative;
}
/* line 46, ../sass/partials/_modules.scss */
.entry-image img, .wp-caption img {
  display: block;
  width: 570px;
  height: auto;
}
/* line 51, ../sass/partials/_modules.scss */
.entry-image .wp-caption-text, .wp-caption .wp-caption-text {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
/* line 56, ../sass/partials/_modules.scss */
.entry-image .credit, .wp-caption .credit {
  font-size: 12px;
  margin-top: 5px;
  color: #beaea5;
}
/* line 61, ../sass/partials/_modules.scss */
.entry-image:before, .entry-image:after, .wp-caption:before, .wp-caption:after {
  position: absolute;
  content: "";
  height: 110px;
  width: 110px;
  z-index: 10;
}
/* line 68, ../sass/partials/_modules.scss */
.entry-image:before, .wp-caption:before {
  background: url("../images/tape1.png");
  top: -25px;
  right: -31px;
}
/* line 73, ../sass/partials/_modules.scss */
.entry-image:after, .wp-caption:after {
  background: url("../images/tape2.png");
  bottom: -25px;
  left: -31px;
}

/* line 79, ../sass/partials/_modules.scss */
.entry-date {
  margin-bottom: 10px;
  position: absolute;
  left: -75px;
  top: 10px;
  font-variant: small-caps;
  display: block;
  font-weight: normal;
  text-align: center;
  line-height: 1;
}
/* line 80, ../sass/partials/_modules.scss */
.entry-date, .entry-date a, .entry-date:visited {
  color: #a4b5c0;
}
/* line 92, ../sass/partials/_modules.scss */
.entry-date .month {
  display: block;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
/* line 98, ../sass/partials/_modules.scss */
.entry-date .day {
  display: block;
  font-size: 28px;
  font-weight: bold;
}
/* line 103, ../sass/partials/_modules.scss */
.entry-date .full-date {
  display: block;
  background: #485056;
  color: white;
  opacity: 0;
  -webkit-transition-property: opacity, margin-top;
  -moz-transition-property: opacity, margin-top;
  -ms-transition-property: opacity, margin-top;
  -o-transition-property: opacity, margin-top;
  transition-property: opacity, margin-top;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 1px 2px black;
  width: 100px;
  margin-left: -50px;
  left: 50%;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  line-height: 1.3;
  margin-top: 0px;
}
/* line 124, ../sass/partials/_modules.scss */
.entry-date .full-date:before {
  position: absolute;
  top: -5px;
  left: 40px;
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #485056;
}
/* line 136, ../sass/partials/_modules.scss */
.entry-date:hover {
  text-decoration: none;
  color: #4e9ec4;
}
/* line 139, ../sass/partials/_modules.scss */
.entry-date:hover .full-date {
  margin-top: 10px;
  opacity: 1;
  -webkit-transition-property: opacity, margin-top;
  -moz-transition-property: opacity, margin-top;
  -ms-transition-property: opacity, margin-top;
  -o-transition-property: opacity, margin-top;
  transition-property: opacity, margin-top;
}

/* line 147, ../sass/partials/_modules.scss */
.entry-follow {
  margin-bottom: 30px;
  padding: 10px;
  background: #dee5e9;
}
/* line 151, ../sass/partials/_modules.scss */
.entry-follow h4 {
  font-size: 14px;
  line-height: 1;
}
/* line 155, ../sass/partials/_modules.scss */
.entry-follow .follow-twitter {
  display: inline-block;
  margin: -1px 5px 0 5px;
  vertical-align: top;
}

/* line 161, ../sass/partials/_modules.scss */
.entry-meta {
  line-height: 1;
  padding: 8px 0 12px 0;
  border-top: 1px #dee5e9 solid;
  border-bottom: 1px #dee5e9 solid;
}
/* line 166, ../sass/partials/_modules.scss */
.entry-meta a {
  color: #7a8d99;
}

/* line 170, ../sass/partials/_modules.scss */
.featured-image {
  position: relative;
  top: -15px;
  margin-bottom: 50px;
}
/* line 174, ../sass/partials/_modules.scss */
.featured-image .post-content {
  position: relative;
}
/* line 177, ../sass/partials/_modules.scss */
.featured-image:before, .featured-image:after {
  display: block;
  position: absolute;
  content: " ";
  background: #eee;
  background-image: none !important;
  width: 570px;
  height: 320px;
  border: 15px #fefefe solid;
}
/* line 187, ../sass/partials/_modules.scss */
.featured-image:before {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  z-index: 10;
  top: -5px;
  left: 0px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
}
/* line 194, ../sass/partials/_modules.scss */
.featured-image:after {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: 20;
  top: -4px;
  left: -4px;
  width: 580px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
/* line 202, ../sass/partials/_modules.scss */
.featured-image .entry-image {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  z-index: 50;
  position: relative;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}
/* line 207, ../sass/partials/_modules.scss */
.featured-image .entry-image:before {
  display: none;
}
/* line 210, ../sass/partials/_modules.scss */
.featured-image .entry-image:after {
  background: url("../images/paperclip.png");
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
  transform: rotate(16deg);
  height: 110px;
  width: 30px;
  top: -25px;
  left: 430px;
  z-index: 10;
}
/* line 220, ../sass/partials/_modules.scss */
.featured-image .post-title {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  background: white;
  padding: 340px 15px 15px 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  position: absolute;
  z-index: 30;
  width: 580px;
  left: 10px;
  top: 0px;
}
/* line 230, ../sass/partials/_modules.scss */
.featured-image .post-title .entry-title {
  margin: 0;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  font-family: "ff-market-web";
}
/* line 238, ../sass/partials/_modules.scss */
.featured-image .post-content {
  display: none;
}

/*-------------- share ---------------*/
/* line 243, ../sass/partials/_modules.scss */
.entry-share {
  display: none;
  padding: 15px 30px;
  overflow: hidden;
}
/* line 247, ../sass/partials/_modules.scss */
.entry-share h3, .entry-share h4 {
  float: left;
  margin: 0 30px 0 0;
  line-height: 30px;
}
/* line 252, ../sass/partials/_modules.scss */
.entry-share .share-option {
  float: left;
  margin-right: 30px;
}
/* line 255, ../sass/partials/_modules.scss */
.entry-share .share-option .box {
  overflow: hidden;
}
/* line 257, ../sass/partials/_modules.scss */
.entry-share .share-option .box .share {
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  float: left;
  margin-right: 5px;
}
/* line 264, ../sass/partials/_modules.scss */
.entry-share .share-option .box .count {
  float: right;
  width: 60px;
  line-height: 30px;
  height: 30px;
  padding: 0 10px 0 0;
  background: #f7efed url("../images/pictos.png") no-repeat 0 -330px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: right;
  font-size: 16px;
}
/* line 275, ../sass/partials/_modules.scss */
.entry-share .share-option .box:hover .count {
  background-position: 0 -330px;
  color: #574742;
}
/* line 282, ../sass/partials/_modules.scss */
.entry-share #twitter .share {
  background: url("../images/pictos.png") no-repeat 0 -120px;
}
/* line 285, ../sass/partials/_modules.scss */
.entry-share #twitter:hover .share {
  background-position: 0 -150px;
}
/* line 290, ../sass/partials/_modules.scss */
.entry-share #facebook .share {
  background: url("../images/pictos.png") no-repeat 0 -180px;
}
/* line 294, ../sass/partials/_modules.scss */
.entry-share #facebook:hover .share {
  background-position: 0 -210px;
}
/* line 299, ../sass/partials/_modules.scss */
.entry-share #googleplus .share {
  background: url("../images/pictos.png") no-repeat 0 -240px;
}
/* line 302, ../sass/partials/_modules.scss */
.entry-share #googleplus:hover .share {
  background-position: 0 -270px;
}

/*-------------- title ---------------*/
/* line 309, ../sass/partials/_modules.scss */
.entry-title {
  line-height: 1;
  margin-bottom: 10px;
  font-size: 36px;
  margin-bottom: 44px;
}
/* line 314, ../sass/partials/_modules.scss */
.entry-title a {
  color: #485056;
}
/* line 316, ../sass/partials/_modules.scss */
.entry-title a:visited {
  color: #485056;
}
/* line 319, ../sass/partials/_modules.scss */
.entry-title a:hover {
  color: #4e9ec4;
  text-decoration: none;
}

/*-------------- note ---------------*/
/* line 326, ../sass/partials/_modules.scss */
.entry-content h5, .note {
  background: #fef9c7;
  color: #8d7825;
  font-weight: normal;
  padding: 30px 30px 30px 60px;
  font-size: 16px;
  line-height: 1.7;
  position: relative;
}
/* line 334, ../sass/partials/_modules.scss */
.entry-content h5:after, .note:after {
  content: "Note";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 6px;
  text-transform: uppercase;
  font-weight: bold;
  background: #f9ec6e;
  font-size: 12px;
}

/*-------------- post ---------------*/
/* line 348, ../sass/partials/_modules.scss */
.navigation {
  overflow: hidden;
  border-top: 1px solid #dee5e9;
}
/* line 351, ../sass/partials/_modules.scss */
.navigation .nav-previous {
  float: left;
}
/* line 353, ../sass/partials/_modules.scss */
.navigation .nav-previous a:before {
  content: "← ";
}
/* line 357, ../sass/partials/_modules.scss */
.navigation .nav-next {
  float: right;
}
/* line 359, ../sass/partials/_modules.scss */
.navigation .nav-next a:after {
  content: " →";
}

/* line 365, ../sass/partials/_modules.scss */
article.post .read-more, article.page .read-more {
  text-decoration: underline;
  display: inline-block;
  margin-left: 3px;
}

/* line 371, ../sass/partials/_modules.scss */
#rss-link {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url("../images/pictos.png") left -432px;
  margin: 0 0 0 5px;
  cursor: pointer;
}
/* line 379, ../sass/partials/_modules.scss */
#rss-link:hover, .current-menu-item #rss-link {
  background-position: left -420px;
}

/* line 383, ../sass/partials/_modules.scss */
.social {
  /*	h3{
  		float:left;
  		font-size:16px;
  		line-height:30px;
  		margin-right:12px;
  	}*/
}
/* line 390, ../sass/partials/_modules.scss */
.social ul {
  float: left;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* line 4, ../sass/partials/_mixins.scss */
.social ul li {
  display: block;
  float: left;
}
/* line 395, ../sass/partials/_modules.scss */
.social ul li {
  height: 30px;
  width: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background: #eb5f3a;
  margin-right: 12px;
}
/* line 401, ../sass/partials/_modules.scss */
.social ul li.find-me {
  width: auto;
  background: none;
  font-weight: bold;
  font-size: 16px;
}
/* line 407, ../sass/partials/_modules.scss */
.social ul li:last-child {
  margin-right: 0;
}
/* line 410, ../sass/partials/_modules.scss */
.social ul li:hover {
  background: #574742;
}
/* line 413, ../sass/partials/_modules.scss */
.social ul li a {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
  height: 30px;
}
/* line 417, ../sass/partials/_modules.scss */
.social ul li.twitter a {
  background: url("../images/pictos.png") no-repeat 0 -30px;
}
/* line 420, ../sass/partials/_modules.scss */
.social ul li.dribbble a {
  background: url("../images/pictos.png") no-repeat 0 -60px;
}
/* line 423, ../sass/partials/_modules.scss */
.social ul li.quora a {
  background: url("../images/pictos.png") no-repeat 0 -90px;
}
/* line 426, ../sass/partials/_modules.scss */
.social ul li.zerply a {
  background: url("../images/pictos.png") no-repeat 0 -120px;
}
/* line 429, ../sass/partials/_modules.scss */
.social ul li.blank {
  background: url("../images/pictos.png") no-repeat left top;
}

/* line 435, ../sass/partials/_modules.scss */
#sidebar {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
/* line 437, ../sass/partials/_modules.scss */
#sidebar h3 {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
}
/* line 443, ../sass/partials/_modules.scss */
#sidebar .widgets {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 447, ../sass/partials/_modules.scss */
#sidebar .widgets > li {
  margin-bottom: 60px;
  line-height: 1.5;
  font-size: 16px;
}
/* line 452, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_recent_entries ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 456, ../sass/partials/_modules.scss */
#sidebar .widgets .widget_recent_entries ul li {
  margin-bottom: 15px;
}

/* line 463, ../sass/partials/_modules.scss */
#footer {
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  font-size: 14px;
  margin: 60px 0;
}

/*-------------- form ---------------*/
/* line 469, ../sass/partials/_modules.scss */
form {
  background: #f7efed;
  width: 600px;
  padding: 30px 60px 30px 30px;
  /*	.form-text span{
  		position:relative;
  		&:after,&:before{
  			content:" ";
  			position:absolute;
  			@include border-radius(3px 0 0 3px);
  			display:block;
  		}
  		&:after{
  			@include stripes;
  			top:-39px;
  			left:1px;
  			z-index:5;
  			height:38px;
  			width:40px;
  		}
  		&:before{
  			background:url("../images/pictos.png") no-repeat 0px -360px;
  			z-index:10;
  			top:6px;
  			left:6px;
  			height:30px;
  			width:30px;
  		}
  		&.your-email:before{
  			background-position:0 -390px;
  		}
  		input{
  			padding:0 10px 0 50px;
  			width:300px;	
  		}
  	}*/
}
/* line 473, ../sass/partials/_modules.scss */
form .form-item {
  position: relative;
  margin-bottom: 30px;
}
/* line 476, ../sass/partials/_modules.scss */
form .form-item:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIHWP8//8/w5VD2/8zAIGOnScjEzIHJMgEkwHRIElGkBYYB0QDAAkQFU3J6bOAAAAAAElFTkSuQmCC");
  content: " ";
  height: 24px;
  width: 360px;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
}
/* line 487, ../sass/partials/_modules.scss */
form .wpcf7-text, form textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.35) 0 1px 0;
  -webkit-box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 1px #e2d0cc;
  -moz-box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 1px #e2d0cc;
  box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 1px #e2d0cc;
  position: relative;
}
/* line 494, ../sass/partials/_modules.scss */
form .wpcf7-form-control-wrap {
  position: relative;
}
/* line 497, ../sass/partials/_modules.scss */
form label {
  margin-bottom: 10px;
  margin-top: 1px;
  font-weight: bold;
  color: #beaea5;
  text-transform: uppercase;
  background: #f7efed;
  display: inline-block;
  position: absolute;
  line-height: 22px;
  z-index: 10;
  padding: 0 3px;
  margin-left: 1px;
}
/* line 511, ../sass/partials/_modules.scss */
form .wpcf7-text {
  height: 24px;
  line-height: 24px;
  display: block;
  width: 340px;
  padding: 8px 10px;
}
/* line 518, ../sass/partials/_modules.scss */
form textarea {
  padding: 10px;
  width: 340px;
  height: 150px;
}
/* line 523, ../sass/partials/_modules.scss */
form input:focus, form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 3px #e2d0cc;
  -moz-box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 3px #e2d0cc;
  box-shadow: 0 1px 0 0 white, inset 0 1px 2px 0 rgba(0, 0, 0, 0.15), inset 0 0 0px 3px #e2d0cc;
}
/* line 527, ../sass/partials/_modules.scss */
form span.wpcf7-not-valid-tip {
  position: absolute;
  top: -36px;
  background: none;
  border: none;
  color: #eb5f3a;
  font-weight: bold;
  left: 370px;
  font-size: 16px;
}
/* line 537, ../sass/partials/_modules.scss */
form .wpcf7-submit {
  color: white;
  background: #eb5f3a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  border: none;
  font-weight: bold;
}
/* line 547, ../sass/partials/_modules.scss */
form div.wpcf7-response-output {
  margin: 0;
  padding: 15px;
  border: 0;
  background: #e1e1e0;
}
/* line 553, ../sass/partials/_modules.scss */
form div.wpcf7-validation-errors {
  background: #eb5f3a;
  color: white;
}
/* line 557, ../sass/partials/_modules.scss */
form div.wpcf7-mail-sent-ok {
  background: #bae861;
}

/*-------------- comments ---------------*/
/* line 594, ../sass/partials/_modules.scss */
#disqus_thread {
  margin: 60px 0 !important;
}
/* line 596, ../sass/partials/_modules.scss */
#disqus_thread #dsq-global-toolbar {
  display: none;
}
/* line 599, ../sass/partials/_modules.scss */
#disqus_thread #dsq-comments, #disqus_thread .dsq-comments {
  list-style-type: none;
  border-top: 1px solid #e1e1e0 !important;
  margin: 30px 0 0 0 !important;
  padding: 30px 0 0 0 !important;
}
/* line 605, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment-child {
  margin-left: 90px !important;
}
/* line 608, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment, #disqus_thread .dsq-comment:hover {
  border-bottom: 1px solid #e1e1e0;
  padding: 0 60px 30px 0 !important;
  margin-bottom: 30px !important;
}
/* line 612, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment .dsq-avatar, #disqus_thread .dsq-comment:hover .dsq-avatar {
  display: block;
  /*			img{
  				-webkit-border-radius: 60px !important;
  				-moz-border-radius: 60px !important;
  				border-radius: 60px !important;
  				-webkit-box-shadow:none !important;
  				-moz-box-shadow:none !important;
  				box-shadow:none !important;
  				margin:0 !important;
  				padding:0 !important;
  				height:60px !important;
  				width:60px !important;
  				border:none !important;
  				background:none !important;
  				@include transition-property(height);
  				@include transition-property(width);
  			}*/
}
/* line 630, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment .dsq-avatar img, #disqus_thread .dsq-comment:hover .dsq-avatar img {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  height: 60px;
  width: 60px;
}
/* line 636, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment .dsq-comment-message, #disqus_thread .dsq-comment:hover .dsq-comment-message {
  line-height: 1.5 !important;
  font-size: 16px !important;
}
/* line 640, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment .dsq-comment-body, #disqus_thread .dsq-comment:hover .dsq-comment-body {
  padding-left: 90px !important;
}
/* line 645, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment-is-collapsed .dsq-avatar img, #disqus_thread .dsq-comment-is-collapsed:hover .dsq-avatar img {
  height: 40px !important;
  width: 40px !important;
}
/* line 650, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment-cite, #disqus_thread .dsq-commenter-name {
  font-size: 24px !important;
}
/* line 653, ../sass/partials/_modules.scss */
#disqus_thread .dsq-comment-header {
  background: none;
  padding: 0;
  border: none;
  line-height: 1.2;
}
/* line 659, ../sass/partials/_modules.scss */
#disqus_thread .dsq-depth-1 {
  margin-left: 90px !important;
}
/* line 662, ../sass/partials/_modules.scss */
#disqus_thread #dsq-sort-by, #disqus_thread .dsq-reply, #disqus_thread #dsq-global-toolbar, #disqus_thread #dsq-pagination {
  padding-right: 60px;
}
/* line 665, ../sass/partials/_modules.scss */
#disqus_thread .dsq-trackbacks {
  margin-top: 30px !important;
  border-top: 1px solid #e1e1e0;
  padding-top: 30px !important;
}
/* line 669, ../sass/partials/_modules.scss */
#disqus_thread .dsq-trackbacks li {
  border-bottom: 1px solid #e1e1e0;
  padding: 0 60px 30px 0 !important;
  margin-bottom: 30px !important;
}
/* line 673, ../sass/partials/_modules.scss */
#disqus_thread .dsq-trackbacks li cite a {
  font-style: normal;
}
/* line 676, ../sass/partials/_modules.scss */
#disqus_thread .dsq-trackbacks li .dsq-trackback-date {
  color: #beaea5;
  font-size: 14px;
}

/*-------------- page ---------------*/
/* line 3, ../sass/partials/_pages.scss */
body.page .page {
  padding-right: 90px;
}
/* line 6, ../sass/partials/_pages.scss */
body.page .entry-content {
  margin-bottom: 120px;
}

/*-------------- river ---------------*/
/* line 11, ../sass/partials/_pages.scss */
.posts-river {
  padding-top: 10px;
}
/* line 13, ../sass/partials/_pages.scss */
.posts-river .post {
  padding-bottom: 70px;
  background: url("../images/divider.png") no-repeat bottom center;
  margin-bottom: 50px;
  position: relative;
}
/* line 35, ../sass/partials/_pages.scss */
.posts-river .post .entry-title {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 10px;
}
/* line 40, ../sass/partials/_pages.scss */
.posts-river .post:last-child {
  border: none;
  margin-bottom: 0;
  background: none;
}
/* line 45, ../sass/partials/_pages.scss */
.posts-river .post .entry-meta {
  margin-bottom: 20px;
}

/*-------------- single ---------------*/
/* line 57, ../sass/partials/_pages.scss */
.single .post .entry-meta {
  margin-bottom: 20px;
}
/* line 60, ../sass/partials/_pages.scss */
.single .post .entry-image {
  margin-bottom: 60px;
}
/* line 63, ../sass/partials/_pages.scss */
.single .post .entry-title {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 20px;
}
/* line 68, ../sass/partials/_pages.scss */
.single .post .entry-utility {
  display: none;
}
